.title_h1 {
    margin: 0;
}
.container {
    padding: 0;
    margin: 0;
}
span {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}
.title {
    position: absolute;
    margin-top: 28px;
    margin-left: 40px;
}
.beta {
border: 1px solid black;
border-radius: 15px;
width: 40px;
display: flex;
justify-content: center;
position: absolute;
margin-left: 218px;
margin-top: 32px;
}
.btn {
    margin-left: 30px;
    margin-top: 0px;
    margin-right:40px;
    border: 1px solid black;
    background-color: white;
    border-radius: 11px;
    width: 174px;
    height: 27px;
font-size: 17px;
margin-top: 25px;
cursor: pointer;
}
.nft {
    outline: none;
    text-decoration: none;
    padding-left: 40px;
    margin-top: 30px;
    color: gray;
}
.links {
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: end;
    padding-right: 0px;
    color: gray;
}
.faq {
    outline: none;
    text-decoration: none;
    padding-left: 30px;
    color: gray;
}
.help {
    outline: none;
    text-decoration: none;
    color: gray;
}
.CustomLink {
    outline: none;
    text-decoration: none;
    margin-top: 30px;
  padding-left: 30px;
  color: gray;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .3);
    /* display: grid;
    align-items: center;
    justify-content: center; */
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transform: opacity .4, visibility.4;
}
.modal_box {
    position: absolute;
    max-width: 500px;
    padding: 1px;
    z-index: 1;
    background-color: white;
    margin: 30px 15px;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal.open .modal_box {
    transform: scale(1);
}
@media screen and (max-width: 320px) {
    .CustomLink {
       display: block;
       visibility: hidden;
    }
    .links {
        visibility: hidden;
        margin: 10px;
    }
    .title {
        margin-left: 0;
        font-size: 15px;
    }
    .beta {
        margin-left: 175px;
    }
    

}